<!DOCTYPE html>
<html>

<head>
    <title>Order List</title>
    <%- include('bootstrap') -%>
</head>

<body>
    <%- include('header') -%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <%- include('sidebar') -%>
            </div>
            <div class="col-10">
                <div class="container-fluid mt-3">
                    <h5>
                        Orders List
                    </h5>
                </div>
                <div class="container-fluid mt-3 underline">

                </div>
                <div class="container-fluid mt-5" style="background-color:rgba(82, 145, 226, 0.233)">
                    <div class="row pt-3 pb-3">
                        <div class="col-3">
                            <b>
                                <h6>Order ID</h6>
                            </b>
                        </div>
                        <div class="col-2">
                            <b>
                                <h6>
                                    Customer Name
                                </h6>
                            </b>
                        </div>
                        <div class="col-2">
            
                            <b>
                                <h6>
                                    Order Date
                                </h6>
                            </b>
                        </div>
                        <div class="col-2">
                            <b>
                                <h6>
                                    Product Name
                                </h6>
                            </b>
                        </div>
                        <div class="col-1">
                            <b>
                                <h6>
                                    Qty
                                </h6>
                            </b>
                        </div>
                        <div class="col-1">
                            <b>
                                <h6>
                                    Order Status
                                </h6>
            
                            </b>
                        </div>
                        <div class="col-1">
            
                            <b>
                                <h6>
                                    Payment Status
                                </h6>
                            </b>
                        </div>
                    </div>
                </div>
                <% if(Object.keys(order).length !=0){ %>
            
                    <% order.forEach(o=>{ %>
                        <% if(o.delivery_id.delivery_status !="Delivered" || o.payment_id.payment_status !="received" ){ %>
                            <div class="container-fluid mt-3 pb-3" id="backcolor">
                                <div class="row pt-2">
                                    <div class="col-3">
                                        <a href="/admin/delivery-details/<%= o.delivery_id._id %>" style="text-decoration: none;">
                                            <%= o.order_ID %>
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        
                                        <%= o.user_id.name %>
                                    </div>
                                    <div class="col-2">
                                        <%= o.order_date %>
                                    </div>
                                    <div class="col-2">
                                        <% o.products.items.forEach(p=>{%>
                                            <%= p.name %><br>
                                                <%})%>
                                    </div>
                                    <div class="col-1">
                                        <% o.products.items.forEach(p=>{%>
                                            <%= p.qty %><br>
                                                <%})%>
                                    </div>
                                    <div class="col-1">
                                        <form action="/admin/manageorder/status" method="POST">
                                            <input type="hidden" name="order_id" value="<%= o._id %>">
                                            <select name="delivery_status" id="" style="width: 100%;" onchange="this.form.submit()">
                                                <% var options=[ "Placed" ,"Dispatched","Delivered" ]; for ( var i=0; i < options.length; i++ )
                                                 { var selected=( o.delivery_id.delivery_status==options[i]) ? "selected" : "" ; %>
                                                    <option value="<%= options[ i ] %>" <%= selected %>><%= options[i] %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </form>
                                    </div>
                                    <div class="col-1">
                                        <form action="/admin/managepayment/status" method="POST">
                                            <input type="hidden" name="order_id" value="<%= o._id %>">
                                            <select name="payment_status" id="" onchange="this.form.submit()">
            
                                                <% var options=[ "pending" ,"received" ]; for ( var i=0; i < options.length; i++ ) {
                                                    var selected=( o.payment_id.payment_status==options[i] ) ? "selected" : "" ; %>
                                                    <option value="<%=options[ i ] %>" <%=selected %>><%= options[i] %>
                                                    </option>
                                                    <% } %>
            
                                            </select>
                                        </form>
                                    </div>
            
                                </div>
                            </div>
                            <% } %>
                                <%}) %>
                                    <% } %>
                                        <%- include('bootstrapLink') -%>
            </div>
        </div>
    </div>
    
    
</body>

</html>